// Place all the styles related to the Recepies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.row{
		    margin-top:100px;
		    padding: 3px;
		}

		.table-padding{
		 padding: 1px;
		}

		.heading-padding{
		margin-top: 108px;
		margin-bottom:-88px;
		}

        .login{
		margin-left: 600px;
		}